# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# vercel
.vercel/

# local env
.env
.env.local
.env*.local

# macOS
.DS_Store

# editor
.idea/
.vscode/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
